body {
    font-family: 'Cormorant Unicase', serif;
}

.navbar {
    background-color: #183059;
}

.navbar-light .navbar-brand {
    position: relative;
    font-size: 3em !important;
    color: gold;
    padding-top: 35px;
    padding-bottom: 35px;
}

.navbar-nav {
    font-size: 1.3em;
}

.navbar-light .navbar-nav .nav-link {
    color: gold;    
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ffe680;
}
.navbar-light .navbar-nav .nav-link:visited {
    color: gold;
}

.container-fluid .row .nav .nav-link {
    color: gold;
    font-size: 1.5em;
    padding: 10px;
}
.container-fluid{
    width: 90%;
    margin-left: 0%;
}

#blue_ban {
    width: 102%;
    height: 35pt;
    opacity: 0.9;
    margin-left: -2%;
    margin-top: -2%;
}
.row{
    display: flex;
}
.insiderow{
    flex: 1;
}
.itemthing{
    height: 140px;
    width: 200px;
    background-image: url("static/images/wood.jpg");
    text-align: center;
    margin: 5px;
    display: inline-block;
}
.itemname{
    font-size: 1.0em;
    color: gold;
}
.itempic{
    border: solid black 1px;
}
.itemprice{
    font-size: 1.0em;
    color: gold;
    width: 5px;
}
.pricecontainer{
    display: flex;
    width: 100px;
    height: 20px;
}
.insideprice{
    flex:1;
}
.coinimage{
    object-fit: contain;
    max-width: 20%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.itempagecontainer{
    height: 300px;
}
.review{
    border: solid black 2px;
    background-color: white;
}
.itemdesc{
    word-wrap: break-word;
    color: gold;
}