{% extends 'layout.html' %}
{% load static %}

{% block title %} About {% endblock %}

{% block custom_style %}
<style>
    .container {
        position: relative;
        text-align: center;
        color: #B1821B;
    }

    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5em;
    }

</style>
{% endblock %}

{% block content %}
<div class="container"> <!-- everything is in a container-fluid right now (does it matter?) -->>
    <img id="scroll_about" src="{% static 'images/scroll.png' %}" />
    <div id="info">
        <h2> Founded in the early 1800s, The Crow's Foot was an antique magic shop that sold spellbooks, potions, and elixirs. As time went on and as its popularity grew, The Crow's Foot expanded and went on to sell monster eggs, magic stones, runes, magical tools such as pocket waatches that change time and rare potion ingredients like phoenix feathers. To stay true to their roots, The Crow's Foot only takes gold pieces as currency and only serves exclusive members. <br /> <br /> Hours: <br /> <br /> Mon-Fri 10am-5pm <br /> <br /> No Returns. All Sales Are Final.</h2>
    </div>
</div>
{% endblock content %}
