{% extends 'layout.html' %}
{% load static %}

{% block title %} About {% endblock %}

{% block custom_style %}
<style>
    .container-fluid{
        position: absolute;
        text-align: center;
        width: 100%;
    }

    .container {
        position: relative;
        text-align: center;
        color: rgb(0, 0, 0);
    }

    h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.5em;
        width: 500px;
    }

</style>
{% endblock %}

{% block content %}
<div class="container"> <!-- everything is in a container-fluid right now (does it matter?) -->>
    <img id="scroll_about" src="{% static 'images/scroll.png' %}">
    <div id="info">
        <h2> Founded in the early 1800s, The Crow's Foot was an antique magic shop that sold basic spellbooks and everyday use remedies. As time went on and its popularity grew, The Crow's Foot expanded and went on to sell monster eggs, magical stones, enchanted runes, and magical tools such as pocket watches that control time and rare potion ingredients such as phoenix feathers. Staying true to their roots, The Crow's Foot only takes gold pieces as currency and only serves exclusive members. <br /> <br /> Hours: <br /> <br /> Mon-Fri 10am-5pm <br /> <br /> No Returns. All Sales Are Final.</h2>
    </div>
</div>
{% endblock content %}
