{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="row">
    <ul class="nav flex-column flex-nonwrap">
        <li class="nav-item"> <a class="nav-link" href="#"> Magic Potions and Elixirs </a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"> Magic Stones </a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"> Ingredients </a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"> Runes </a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"> Monster Eggs </a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"> Tools </a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"> Spellbooks and Tarot Cards </a> </li>
    </ul>
</div>
{% endblock content %}
