{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="row">
    <ul class="nav flex-column flex-nonwrap">
        <li class="nav-item"> <a class="nav-link" href="#"> Magic Potions and Elixirs </a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"> Magic Stones </a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"> Ingredients </a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"> Runes </a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"> Monster Eggs </a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"> Tools </a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"> Spellbooks and Tarot Cards </a> </li>
    </ul>
    <div class='insiderow'>
        <div class = 'row'>
            <div class='col-sm'>
                <div class='itemthing'>
                    <a href = "/item">
                        <img class = 'itempic' src = 'static/images/upg_sword.png'>
                    </a>
                    <div class="buyitemcontainer">
                        <div class='itemname'>Buy Infinity Edge</div>
                        <div class='pricecontainer'>
                            <div class='itemprice insideprice'>650</div>
                            <img class = 'coinimage insideprice' src='static/images/coin.png'>
                        </div>
                    </div>
                </div>
                <div class='itemthing'>
                        <a href = "/item">
                            <img class = 'itempic' src = 'static/images/upg_sword.png'>
                        </a>
                        <div class="buyitemcontainer">
                            <div class='itemname'>Buy Infinity Edge</div>
                            <div class='pricecontainer'>
                                <div class='itemprice insideprice'>650</div>
                                <img class = 'coinimage insideprice' src='static/images/coin.png'>
                            </div>
                        </div>
                </div>
                <div class='itemthing'>
                        <a href = "/item">
                            <img class = 'itempic' src = 'static/images/upg_sword.png'>
                        </a>
                        <div class="buyitemcontainer">
                            <div class='itemname'>Buy Infinity Edge</div>
                            <div class='pricecontainer'>
                                <div class='itemprice insideprice'>650</div>
                                <img class = 'coinimage insideprice' src='static/images/coin.png'>
                            </div>
                        </div>
                </div>
            </div>
            <div class='col-sm'>
                    <div class='itemthing'>
                        <a href = "/item">
                            <img class = 'itempic' src = 'static/images/upg_sword.png'>
                        </a>
                        <div class="buyitemcontainer">
                            <div class='itemname'>Buy Infinity Edge</div>
                            <div class='pricecontainer'>
                                <div class='itemprice insideprice'>650</div>
                                <img class = 'coinimage insideprice' src='static/images/coin.png'>
                            </div>
                        </div>
                    </div>
                    <div class='itemthing'>
                            <a href = "/item">
                                <img class = 'itempic' src = 'static/images/upg_sword.png'>
                            </a>
                            <div class="buyitemcontainer">
                                <div class='itemname'>Buy Infinity Edge</div>
                                <div class='pricecontainer'>
                                    <div class='itemprice insideprice'>650</div>
                                    <img class = 'coinimage insideprice' src='static/images/coin.png'>
                                </div>
                            </div>
                    </div>
                    <div class='itemthing'>
                            <a href = "/item">
                                <img class = 'itempic' src = 'static/images/upg_sword.png'>
                            </a>
                            <div class="buyitemcontainer">
                                <div class='itemname'>Buy Infinity Edge</div>
                                <div class='pricecontainer'>
                                    <div class='itemprice insideprice'>650</div>
                                    <img class = 'coinimage insideprice' src='static/images/coin.png'>
                                </div>
                            </div>
                    </div>
                </div>
                <div class='col-sm'>
                        <div class='itemthing'>
                            <a href = "/item">
                                <img class = 'itempic' src = 'static/images/upg_sword.png'>
                            </a>
                            <div class="buyitemcontainer">
                                <div class='itemname'>Buy Infinity Edge</div>
                                <div class='pricecontainer'>
                                    <div class='itemprice insideprice'>650</div>
                                    <img class = 'coinimage insideprice' src='static/images/coin.png'>
                                </div>
                            </div>
                        </div>
                        <div class='itemthing'>
                                <a href = "/item">
                                    <img class = 'itempic' src = 'static/images/upg_sword.png'>
                                </a>
                                <div class="buyitemcontainer">
                                    <div class='itemname'>Buy Infinity Edge</div>
                                    <div class='pricecontainer'>
                                        <div class='itemprice insideprice'>650</div>
                                        <img class = 'coinimage insideprice' src='static/images/coin.png'>
                                    </div>
                                </div>
                        </div>
                        <div class='itemthing'>
                                <a href = "/item">
                                    <img class = 'itempic' src = 'static/images/upg_sword.png'>
                                </a>
                                <div class="buyitemcontainer">
                                    <div class='itemname'>Buy Infinity Edge</div>
                                    <div class='pricecontainer'>
                                        <div class='itemprice insideprice'>650</div>
                                        <img class = 'coinimage insideprice' src='static/images/coin.png'>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class='col-sm'>
                            <div class='itemthing'>
                                <a href = "/item">
                                    <img class = 'itempic' src = 'static/images/upg_sword.png'>
                                </a>
                                <div class="buyitemcontainer">
                                    <div class='itemname'>Buy Infinity Edge</div>
                                    <div class='pricecontainer'>
                                        <div class='itemprice insideprice'>650</div>
                                        <img class = 'coinimage insideprice' src='static/images/coin.png'>
                                    </div>
                                </div>
                            </div>
                            <div class='itemthing'>
                                    <a href = "/item">
                                        <img class = 'itempic' src = 'static/images/upg_sword.png'>
                                    </a>
                                    <div class="buyitemcontainer">
                                        <div class='itemname'>Buy Infinity Edge</div>
                                        <div class='pricecontainer'>
                                            <div class='itemprice insideprice'>650</div>
                                            <img class = 'coinimage insideprice' src='static/images/coin.png'>
                                        </div>
                                    </div>
                            </div>
                            <div class='itemthing'>
                                    <a href = "/item">
                                        <img class = 'itempic' src = 'static/images/upg_sword.png'>
                                    </a>
                                    <div class="buyitemcontainer">
                                        <div class='itemname'>Buy Infinity Edge</div>
                                        <div class='pricecontainer'>
                                            <div class='itemprice insideprice'>650</div>
                                            <img class = 'coinimage insideprice' src='static/images/coin.png'>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class='col-sm'>
                                <div class='itemthing'>
                                    <a href = "/item">
                                        <img class = 'itempic' src = 'static/images/upg_sword.png'>
                                    </a>
                                    <div class="buyitemcontainer">
                                        <div class='itemname'>Buy Infinity Edge</div>
                                        <div class='pricecontainer'>
                                            <div class='itemprice insideprice'>650</div>
                                            <img class = 'coinimage insideprice' src='static/images/coin.png'>
                                        </div>
                                    </div>
                                </div>
                                <div class='itemthing'>
                                        <a href = "/item">
                                            <img class = 'itempic' src = 'static/images/upg_sword.png'>
                                        </a>
                                        <div class="buyitemcontainer">
                                            <div class='itemname'>Buy Infinity Edge</div>
                                            <div class='pricecontainer'>
                                                <div class='itemprice insideprice'>650</div>
                                                <img class = 'coinimage insideprice' src='static/images/coin.png'>
                                            </div>
                                        </div>
                                </div>
                                <div class='itemthing'>
                                        <a href = "/item">
                                            <img class = 'itempic' src = 'static/images/upg_sword.png'>
                                        </a>
                                        <div class="buyitemcontainer">
                                            <div class='itemname'>Buy Infinity Edge</div>
                                            <div class='pricecontainer'>
                                                <div class='itemprice insideprice'>650</div>
                                                <img class = 'coinimage insideprice' src='static/images/coin.png'>
                                            </div>
                                        </div>
                                </div>
                            </div>
    </div>
</div>

{% endblock content %}
