{% extends 'layout.html' %}

{% block title %} Home {% endblock %}

{% block content %}
<div class="row">
    <ul class="nav flex-column flex-nonwrap insiderow">
        <li class="nav-item"> <a class="nav-link" href="#"> Magic Potions and Elixirs </a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"> Magic Stones </a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"> Ingredients </a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"> Runes </a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"> Monster Eggs </a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"> Tools </a> </li>
        <li class="nav-item"> <a class="nav-link" href="#"> Spellbooks and Tarot Cards </a> </li>
    </ul>
    <div class='insiderow'>
        <div class='itemthing'>
            <img class = 'itempic' src = 'static/images/upg_sword.png'>
            <div>This item is really really nice b/c it is really nice btw. This is filler text and filler text will be filler text.</div>
            <div class='itemname'>Buy Infinity Edge</div>
            <div class='itemprice'>650 gold</div>
        </div>
    </div>
</div>

{% endblock content %}
