{% extends 'layout.html' %}

{% block title %} Login {% endblock %}

{% block custom_style %}
<style>
    #login_labels,
    #register_labels {
        color: gold;
    }

    #table_log {
        text-align: center;
    }

    h2, h3 {
        color: gold;
        text-align: center;
    }
</style>
{% endblock %}

{% block content %}
<h2> Welcome To The Crow's Foot </h2>
<h3> Members Only </h3>
<div id="table_log" style="display: table;">
    <div style="width: 100%; display: table-row;">
        <div id="register_labels" style="width: 600px; display: table-cell;">
            <h4> Register </h4>
            <label> Email: <input type="text" name="em" required /> </label> <br /> <br />
            <label> Name: <input type="text" name="name" required /> </label> <br /> <br />
            <label> Address: <input type="text" name="addr" required /> </label> <br /> <br />
            <label> City: <input type="text" name="city" required /> </label> <br /> <br />
            <label> State: <input type="text" name="state" required /> </label> <br /> <br />
            <label> Zip: <input type="number" name="zip" required /> </label> <br /> <br />
            <button> Register </button>
        </div>

        <div id="login_labels" style="width: 400px; display: table-cell;">
            <h4> Login </h4>
            <label> Email: <input type="text" name="email" required /> </label> <br /> <br />
            <label> Password: <input type="text" name="pass" required /> </label> <br /> <br />
            <button> Login </button>
        </div>
    </div>
</div>
{% endblock content %}
